aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
audioop-lts==0.2.2
discord.py==2.6.4
emoji_data_python==1.6.0
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
packaging==26.0
propcache==0.4.1
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
qextrawidgets==0.2.12
QtAwesome==1.4.1
QtPy==2.4.3
shiboken6==6.10.2
twemoji-api==2.0.0
yarl==1.22.0